<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>NeoLoader - About</title>
<link rel="stylesheet" href="Resources/style.css" type="text/css" />
</head>
<body>
<div class="contentfield" style="margin-top: 10px;">
<a href="http://neoloader.to/"><img src="Resources/logo_small.png" alt="NeoLoader" title="NeoLoader" width="250" height="42"></a>
<br><br>
</div>
<div class="contentfield">
<div id="dir_head"><h1>About</h1></div>
<table border="1" width="580px">
  <tr>
    <th width="15%">File</th>
    <th width="60%">Description</th>
    <th width="10%">Ver</th>
    <th width="15%">Licence</th>
  </tr>
  <tr>
    <td>NeoLoader</td>
    <td>NeoLaoder Core and GUI</td>
    <td>0.20</td>
    <td><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC by-nc-nd</a></td>
  </tr>
  <tr>
    <td>NeoGUI</td>
    <td>Native GUI for NeoLoader</td>
    <td>0.20</td>
    <td><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC by-nc-sa</a></td>
  </tr>
  <tr>
    <td>WebUI</td>
    <td>WebUI for NeoLoader</td>
    <td>0.11</td>
    <td><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC by-nc-sa</a></td>
  </tr>
  <tr>
    <td>NeoKad</td>
    <td>Standalone Neo Kademlia Agent</td>
    <td>0.1</td>
    <td><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC by-nc-nd</a></td>
  </tr>
  <tr>
    <td>MediaPlayer</td>
    <td>Simple Mediaplayer using Qt Phonon library</td>
    <td>0.1</td>
    <td><a href="http://www.opensource.org/licenses/lgpl-license.php">LGPL</a></td>
  </tr>
  <tr>
    <td>NeoHelper</td>
    <td><a href="https://gitorious.org/neotools">Shared Helper Libraty for NeoLaoder</a></td>
    <td>0.05</td>
    <td><a href="http://www.opensource.org/licenses/bsd-license.php">BSD</a></td>
  </tr>
  <tr>
    <td>NeoScriptTools</td>
    <td><a href="https://gitorious.org/neoscripttools">QtScriptDebugger adapted for NeoLoader</a></td>
    <td>0.10</td>
    <td><a href="http://www.opensource.org/licenses/lgpl-license.php">LGPL</a></td>
  </tr>
  <tr>
    <td><a href="http://update.neoloader.to/Resources/MuleKad.rar">MuleKad</a></td>
    <td>Standalone eMule Kademlia Server</td>
    <td>0.02</td>
    <td><a href="http://www.opensource.org/licenses/gpl-license.php">GPL</a></td>
  </tr>
  <tr>
    <td><a href="http://update.neoloader.to/Resources/TorrentDHT.rar">TorrentDHT</a></td>
    <td>Standalone Torrent DHT Tracker</td>
    <td>0.01</td>
    <td><a href="http://www.opensource.org/licenses/mit-license.php">MIT</a></td>
  </tr>
  <tr>
    <td>NeoUpdater</td>
    <td>NeoLaoder Update/Instalation Utility</td>
    <td>0.02</td>
    <td><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC by-nc-nd</a></td>
  </tr>
  <tr>
    <td>cryptopp</td>
    <td><a href="http://www.cryptopp.com/">C++ class library of cryptographic</a></td>
    <td>5.6.1</td>
    <td><a href="http://www.cryptopp.com/License.txt">PublicDomain</a></td>
  </tr>
  <tr>
    <td>v8</td>
    <td><a href="http://code.google.com/p/v8/">V8 JavaScript Engine</a></td>
    <td>3.12.10</td>
    <td><a href="http://www.opensource.org/licenses/bsd-license.php">BSD</a></td>
  </tr>
  <tr>
    <td>UDT</td>
    <td><a href="http://udt.sourceforge.net/">UDP-based Data Transfer Library</a></td>
    <td>4.10</td>
    <td><a href="http://www.opensource.org/licenses/bsd-license.php">BSD</a></td>
  </tr>
  <tr>
    <td>MiniUPnP</td>
    <td><a href="http://miniupnp.free.fr/">UPnP support library</a></td>
    <td>1.40</td>
    <td><a href="http://www.opensource.org/licenses/bsd-license.php">BSD</a></td>
  </tr>
  <tr>
    <td>7z</td>
    <td><a href="http://www.7-zip.org/">7zip Arcive Library</a></td>
    <td>9.22</td>
    <td><a href="http://www.opensource.org/licenses/lgpl-license.php">LGPL</a></td>
  </tr>
  <tr>
    <td><a href="http://update.neoloader.to/Resources/qbencode.rar">qbencode</a></td>
    <td><a href="https://github.com/japeq/qtbencode">Bencode parser library for Qt</a></td>
    <td>3.2.0</td>
    <td><a href="http://www.opensource.org/licenses/lgpl-license.php">LGPL</a></td>
  </tr>
  <tr>
    <td><a href="http://update.neoloader.to/Resources/qjson.rar">qjson</a></td>
    <td><a href="http://qjson.sourceforge.net/">JSON serialization library for Qt</a></td>
    <td>0.5.0</td>
    <td><a href="http://www.opensource.org/licenses/lgpl-license.php">LGPL</a></td>
  </tr>
  <tr>
    <td><a href="http://update.neoloader.to/Resources/qtservice.rar">qtservice</a></td>
    <td><a href="http://labs.qt.nokia.com/2009/05/26/qt-service-framework/">Win services/Unix daemons Library</a></td>
    <td>2.6</td>
    <td><a href="http://www.opensource.org/licenses/lgpl-license.php">LGPL</a></td>
  </tr>
  <tr>
    <td><i>Qt Framework</i></td>
    <td><a href="http://qt.nokia.com/products/">A cross-platform application and UI framework</a></td>
    <td>4.8.1</td>
    <td><a href="http://www.opensource.org/licenses/lgpl-license.php">LGPL</a></td>
  </tr>
  <tr>
    <td>qwt</td>
    <td><a href="http://qwt.sourceforge.net/">Qt Widgets for Technical Applications</a></td>
    <td>5.3.2</td>
    <td><a href="http://qwt.sourceforge.net/qwtlicense.html">LGPL</a></td>
  </tr>
  <tr>
    <td><i>SmartGWT</i></td>
    <td><a href="http://www.smartclient.com/product/smartgwt.jsp">A Web Application Framework</a></td>
    <td>3.0</td>
    <td><a href="http://www.opensource.org/licenses/lgpl-license.php">LGPL</a></td>
  </tr>
  <tr>
    <td><i>Lib jLoader</i></td>
    <td><a href="https://gitorious.org/libjloader">Hoster/Cryptsite handling script library</a></td>
    <td>3.0</td>
    <td><a href="http://opensource.org/licenses/GPL-3.0">GPL</a></td>
  </tr>
  <tr>
    <td><a href="http://update.neoloader.to/Resources/qrencode.rar">qrencode</a></td>
    <td><a href="http://fukuchi.org/works/qrencode/index.html.en">QR Code encoding library</a></td>
    <td>3.2.0</td>
    <td><a href="http://www.opensource.org/licenses/lgpl-license.php">LGPL</a></td>
  </tr>
  <tr>
    <td>SmartGWT Ext</td>
    <td><a href="http://gitorious.org/smartgwt-extensions">SmartGWT Extensions - classes to extend GWT functionality</a></td>
    <td>-</td>
    <td><a href="http://www.opensource.org/licenses/bsd-license.php">BSD</a></td>
  </tr>
  <tr>
    <td><i>Boost_regex</i></td>
    <td><a href="http://opencv.willowgarage.com/">Boost C++ Libraries (libboost_regex)</a></td>
    <td>1.46.1</td>
    <td><a href="http://www.boost.org/LICENSE_1_0.txt">BSL</a></td>
  </tr>
</table>
</div>
</body>
</html>
