<!-- Login -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>NeoLoader - Login</title>
<link rel="stylesheet" href="/Resources/style.css" type="text/css" />
</head>
<body>
<div class="contentfield" style="margin-top: 10px;">
<img src="/Resources/logo_small.png" alt="NeoLoader" title="NeoLoader" width="250" height="42">
<br><br>
</div>
<div class="contentfield">
<div id="dir_head"><h1>Login</h1></div>
<form action="" name="loginform" method="post">
<table border="0">
  <tr style="{display}">
    <td width="50%">UserName:</td>
    <td width="50%"><input type="text" name="UserName" /></td>
  </tr>

  <tr>
    <td>Password:</td>
    <td><input type="password" name="Password" /></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="login" value="Login" /></td>
  </tr>
</table>
</form>
</div>
</body>
</html>
<!-- /Login -->