<!-- List -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" href="/Resources/style.css" type="text/css" />
    <script type="text/javascript" src="/Resources/WndHelper.js"></script>
</head>
<body>
<br>
<table border="1" width="100%">
  <tr>
    <th width="80%">Url</th>
    <th width="20%">Status</th>
  </tr>
  {Tasks}
</table>
{Hold}
</body>
</html>
<!-- /List -->
<!-- Entry -->
<tr>
    <td align="left">{Url}</td>
    <td align="right"><a href="/WebUI/Log/?Task={ID}" target="Log" onclick="OpenWindow(this.href, this.target, 'menubar=0,resizable=1,width=640,height=480'); return false;">{Status}</a></td>
</tr>
<!-- /Entry -->
<!-- Hold -->
<a href="/WebUI/Tasks/?Hold=true">Hold</a> scheduling of new tasks.
<!-- /Hold -->
<!-- Resume -->
Scheduling of new tasks is Halted, <a href="/WebUI/Tasks/?Hold=false">Resume</a> now?
<!-- /Resume -->