<!-- Upload -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="/Resources/style.css" type="text/css" />
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data">
    Select a File to Upload:
    <input type="file" name="File" size="50"/>
    <input id="submit" type="submit" value="Submit">
    </form>
</body>
</html>
<!-- /Upload -->
<!-- Result -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>File Uploaded</title>
    <link rel="stylesheet" href="/Resources/style.css" type="text/css" />
</head>
<body>
    {Result}<br>
    <textarea id = "id">{ID}</textarea>
</body>
</html>
<!-- /Result -->
<!-- Info -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>File Uploaded</title>
    <link rel="stylesheet" href="/Resources/style.css" type="text/css" />
</head>
<body>
    <span id="name">{FileName}</span><br>
    <span id="size">{FileSize}</span><br>
    <span id="status">{FileStatus}</span><br>
</body>
</html>
<!-- /Info -->