@charset "utf-8";

.text1 {
	/* This is the styling for the overlying text input box element */
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	width: 104px;
	border-width: 0px;
	position: relative;
	left: 2px;
	top: -2px;
	padding-left: 2px;
	height: 14px;
	z-index: 2;
}

.iframe1 {
	/* This is the styling for the iframe object sandwiched in the middle */
	width: 104px;
	position: relative;
	left: 2px;
	z-index: 1;
}

.select1 {
	/* This is the styling for the select box element at the bottom of the stack */
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	width: 125px;
	border: solid 1px #333333;
	z-index: 0;
}